@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

label {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 20px;
  font-size: 16px;
}

h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: rgb(var(--background-start-rgb));
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(var(--foreground-rgb));
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(var(--foreground-rgb));
  cursor: pointer;
}

input[type="text"] {
  background: transparent;
  border: 1px solid rgb(var(--foreground-rgb));
  color: rgb(var(--foreground-rgb));
  padding: 10px 20px;
  border-radius: 5px;
  cursor: text;
  transition: all 0.2s ease-in-out;
}

input[type="submit"] {
  background: transparent;
  border: 1px solid rgb(var(--foreground-rgb));
  color: rgb(var(--foreground-rgb));
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
}

button {
  background: transparent;
  border: 1px solid rgb(var(--foreground-rgb));
  color: rgb(var(--foreground-rgb));
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: rgb(var(--foreground-rgb));
  color: rgb(var(--background-start-rgb));
}

input {
  margin: 10px;
}
