@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #121212;
  --background-start-rgb: 200, 200, 200;
  --background-end-rgb: 255, 255, 255;
  --button-hover: #fff;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

label {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 20px;
  font-size: 16px;
}

h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: rgb(var(--background-start-rgb));
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--foreground-rgb);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--foreground-rgb);
  cursor: pointer;
}

input[type="text"] {
  background: transparent;
  border: 1px solid var(--foreground-rgb);
  color: var(--foreground-rgb);
  padding: 10px 20px;
  width: 160px;
  border-radius: 2px;
  cursor: text;
  transition: all 0.2s ease-in-out;
}

input[type="submit"] {
  background: #eee;
  color: rgb(var(--foreground-rgb));
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: smaller;
  transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background: var(--button-hover);
  color: rgb(var(--foreground-rgb));
}

button {
  background: #eee;
  color: rgb(var(--foreground-rgb));
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: smaller;
  border: 1px solid rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: var(--button-hover);
  color: rgb(var(--foreground-rgb));
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  translate: scale(1.2);
}

input {
  margin: 10px 0;
}
